{% extends 'layout/index.layout.html.twig' %}

{# 首页没有面包屑 #}
{% block breadcrumb %}
{% endblock %}

{# 首页不在顶部提示信息 #}
{% block alert %}
{% endblock %}

	{% block meta_tag %}
        <meta name="360-site-verification" content="d3767fa6e31f986f4f3c6f4a1ba7cfd3"/>
        <meta name="description" content="云筹是国内首批专注天使投资的私募股权众筹投资平台，是首家开展筹后管理的私募股权众筹投资平台，是中国证券协会首批股权众筹会员单位，获“最佳股权众筹平台”、“年度众筹行业卓越服务品牌”等荣誉。建立“专业领投、大众跟投”的私募股权融资模式，帮创业者融资，帮投资人增值。" />
        <meta name="keywords" content="云筹,股权众筹,私募股权众筹平台,众筹平台,众筹投资,众筹网站" />
        <meta name="sogou_site_verification" content="aCfuJHhe8E"/>
        <meta name="shenma-site-verification" content="8716e03dfc3c955ab695da3a93270872_1433147658">
        <meta name="baidu-site-verification" content="elYcfln9UV" />
    {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '../app/Resources/less/app/index.less' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '../app/Resources/js/lib/cookies.min.js'
    '../app/Resources/js/app/index.js'
    '../app/Resources/js/app/progress.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{# 首页主内容 #}
{% block content %}
    <input type="hidden" id="referer" value="{{ referer }}">
    {% if index_data is defined and index_data is not empty %}
        {# 幻灯片 #}
        <div class="container-fluid">
            <div class="row">
                <div id="block-views-frontpage-slideshow-carousel" class="block block-views no-title">
                    <div class="content">
                        <div id="FrontPageCarousel" class="bs carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                {% for slide in index_data.Slides %}
                                    <li data-target="#FrontPageCarousel" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                {% for slide in index_data.Slides %}
                                    <div class="item {% if loop.first %}active{% endif %}">
                                        <a href="{{ slide.Url }}" target="_blank">
                                            <div class="bannner" style="background: url('{{ slide.Image }}') center center" alt="{{ slide.Name }}" data-src="holder.js/1730x347" >
                                                <div style="width: 1170px;margin: 0 auto;">
                                                    {#<img src="{{ slide.Image }}" data-src="holder.js/1730x347" alt="{{ slide.Name }}"/>#}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#FrontPageCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#FrontPageCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid new-container-fluid">
            <div class="container">
                <div class="row">
                    <div class="icon-top">
                        <div class="col-sm-2 text-center paddingTb">
                            <img src="/media/image/user/frontpage/1.png"/>
                        </div>
                        <div class="col-sm-2 text-center paddingTb">
                            <img src="/media/image/user/frontpage/2.png"/>
                        </div>
                        <div class="col-sm-2 text-center paddingTb">
                            <img src="/media/image/user/frontpage/3.png"/>
                        </div>
                        <div class="col-sm-2 text-center paddingTb">
                            <img src="/media/image/user/frontpage/4.png"/>
                        </div>
                        <div class="col-sm-2 text-center paddingTb">
                            <img src="/media/image/user/frontpage/5.png"/>
                        </div>
                        <div class="col-sm-2 text-center paddingTb">
                            <img src="/media/image/user/frontpage/6.png"/>
                        </div>
                    </div>
                    <div class="icon-bottom">
                        <div class="col-sm-2 text-center num-right-border">
                            <p class="small-size">累计认筹额</p>
                            <div><span class="large-size">{{ index_data.TotalFinancedAmountWanYuan }}</span><span class="small-size">万</span></div>
                        </div>
                        <div class="col-sm-2 text-center num-right-border">
                            <p class="small-size">融资项目总数</p>
                            <div><span class="large-size">{{ index_data.TotalProjectsCount }}</span><span class="small-size">个</span></div>
                        </div>
                        <div class="col-sm-2 text-center num-right-border">
                            <p class="small-size">已交易投资人</p>
                            <div><span class="large-size">{{ index_data.TotalInvestorCount }}</span><span class="small-size">位</span></div>
                        </div>
                        <div class="col-sm-2 text-center num-right-border">
                            <p class="small-size">创投机构共建</p>
                            <div><span class="large-size">{{ index_data.TotalPartnerCount }}+</span><span class="small-size">家</span></div>
                        </div>
                        <div class="col-sm-2 text-center num-right-border">
                            <p class="small-size">18个月获得下轮投资比例</p>
                            <div><span class="large-size">{{ index_data.ReFinanceRateWithin18Month }}</span><span class="small-size">%</span></div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <p class="small-size">项目综合回报率</p>
                            <div style="color: #d54343;"><span class="large-size">{{ index_data.TotalReturnRate }}</span><span class="small-size">%</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# 热门项目 #}
        <div class="container hot" style="padding: 0;margin-bottom: 10px">
            <h2 class="j-title">认投中的项目
                <a href="{{ path('projectwithstatus',{'statusid':20}) }}" class="btn btn-sm j-btn-default pull-right" target="_blank">
                    查看更多
                </a>
            </h2>
            <div class="list clearfix">
                {% for item in index_data.ProjectsInFinancing %}
                    {% if loop.first == true %}
                        <div class="j-block mb-20">
                            <div class="ing-first-left">
                                <a href="{{ path('ProjectDisplay',{'id':item.Id}) }}" target="_blank">
                                    {% if item.Image %}
                                        {#todo:文件系统修正#}
                                        {#<img src="{{ item.Image|imagine_filter('fix_700_300') }}" alt="{{ item.Name }}"/>#}
                                        <img src="{{ item.Image }}?width=700&height=300" alt="{{ item.Name }}"/>
                                    {% else %}
                                        <img class="cover" data-src="holder.js/700x300/text:项目封面" alt="{{ item.Name }}"/>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="ing-first-right">
                                <p><a href="{{ path('ProjectDisplay',{'id':item.Id}) }}" target="_blank">
                                        <span class="project-name">{{ item.YunchouNo }}{{ item.Name }}</span>
                                    </a></p>
                                <p class="project-summery">{% if item.Description|length >25 %}{{ item.Description|slice(0,25) }}...{% else %}{{ item.Description }}{% endif %}</p>
                                <div class="progress-extra new">
                                    <a href="http://www.yunchou.com/help?ClassId=1227" target="_blank" class="span1">已锁定投资金额：{{ item.LockedRate }}</a>
                                    <div class="j-progress">
                                        <div class="j-progress-bar" role="progressbar" aria-valuenow="{{ item.BookedRate }}" aria-valuemin="0" aria-valuemax="100" style="width: {% if item.BookedRate>100 %}100%{% else %} {{ item.BookedRate }}{% endif %};">
                                              <span class="auto-progress"><img src="/media/image/user/frontpage/sanjiao.png"/>
                                          </span>
                                            {% if item.BookedRate<100 %}
                                                <span class="auto-math auto-right2">{{ item.BookedRate }}</span>
                                            {% else %}
                                                <span class="auto-math auto-right1">{{ item.BookedRate }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="j-progress-2">
                                        <div class="j-progress-bar-2" role="progressbar" aria-valuenow="{{ item.LockedRate }}" aria-valuemin="0" aria-valuemax="100" style="width: {% if item.LockedRate>100 %}100%{% else %} {{ item.LockedRate }}{% endif %};"></div>
                                    </div>
                                    <span class="span2" style="left: {% if item.BookedRate>80 %}80%{% else %}{{ item.BookedRate }}{% endif %}">意向投资额</span>
                                </div>
                                {#<p class="project-progress">#}
                                {#融资额：<span class="b3b3b3">{{ item.FinancingAmount|round }}万</span>&nbsp;&nbsp;&nbsp;#}
                                {#出让股份：<span class="b3b3b3">{{ item.SellShares }}</span>&nbsp;&nbsp;&nbsp;#}
                                {#已筹资：<span class="b3b3b3">{{ item.FinancedAmount|round }}万</span>&nbsp;&nbsp;&nbsp;#}
                                {#剩余时间：<span class="b3b3b3">{{ item.LastDays }}</span>#}
                                {#</p>#}
                                <div class="project-progress" style="float: left;width: 100%;margin-bottom: 20px">
                                    <div class="col-sm-3 p-0" style="border-right: 1px solid #d2d2d2;">
                                        <div class="size-10 text-center b3b3b3">融资目标</div>
                                        <div class="text-center" style="font-size: 14px;color: black;margin-top: 10px">{{ item.FinancingAmount|round }}万</div>
                                    </div>
                                    <div class="col-sm-3 p-0" style="border-right: 1px solid #d2d2d2;">
                                        <div class="size-10 text-center b3b3b3">出让股份</div>
                                        <div class="text-center" style="font-size: 14px;color: black;margin-top: 10px">{{ item.SellShares }}</div>
                                    </div>
                                    <div class="col-sm-3 p-0" style="border-right: 1px solid #d2d2d2;">
                                        <div class="size-10 text-center b3b3b3">已筹金额</div>
                                        <div class="text-center" style="font-size: 14px;color: black;margin-top: 10px">{{ item.BookedAmount|round }}万</div>
                                    </div>
                                    <div class="col-sm-3 p-0">
                                        <div class="size-10 text-center b3b3b3">剩余时间</div>
                                        <div class="text-center" style="font-size: 14px;color: black;margin-top: 10px">{{ item.LastDays }}</div>
                                    </div>
                                </div>
                                <div style="border-top: 1px solid #d2d2d2;margin: 30px 0;clear: both"></div>
                                <p class="j-project-investor">
                                    创始人&nbsp;
                                    <a data-toggle="tooltip" title="{{ item.Founder.Name }}" target="_blank" data-placement="bottom" href="{{ path('EntrepreneurProfile',{'userId':item.Founder.Id}) }}">
                                        {% if item.Founder.Image %}
                                            {#todo:文件系统#}
                                            {#<img src="{{ item.Founder.Image|imagine_filter('fix_41_41') }}" class="img-circle" alt="{{ item.Founder.Name }}" />#}
                                            <img src="{{ item.Founder.Image }}?width=41&height=41" class="img-circle" alt="{{ item.Founder.Name }}" />
                                        {% else %}
                                            <img src="/media/image/user/140x140_user_avatar.png" style="width: 40px;height: 40px" class="img-circle" />
                                        {% endif %}
                                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% if item.LeaderInvestors %}
                                        领投人&nbsp;
                                        {% for li in item.LeaderInvestors %}
                                            <a href="{{ path('user_outside_page',{'id':li.Id}) }}" data-toggle="tooltip" title="{{ li.Name }}" target="_blank" data-placement="bottom">
                                                {% if li.Image %}
                                                    {#todo:文件系统#}
                                                    {#<img src="{{ li.Image|imagine_filter('fix_41_41') }}" class="img-circle" alt="{{ li.Name }}" />#}
                                                    <img src="{{ li.Image }}?width=41&height=41" class="img-circle" alt="{{ li.Name }}" />
                                                {% else %}
                                                    <img src="/media/image/user/140x140_user_avatar.png" style="width: 40px;height: 40px" class="img-circle" />
                                                {% endif %}
                                            </a>
                                            &nbsp;
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% else %}
                        <div class="ing-row">
                            <a href="{{ path('ProjectDisplay',{'id':item.Id}) }}" target="_blank">
                                <div class="project-cover test">
                                    {% if item.Image %}
                                        {#todo:文件系统#}
                                        {#<img src="{{ item.Image|imagine_filter('fix_370_240') }}" alt="{{ item.Name }}"/>#}
                                        <img src="{{ item.Image }}?width=370&height=240" alt="{{ item.Name }}"/>
                                    {% else %}
                                        <img class="cover" data-src="holder.js/370x240/text:项目封面" alt="{{ item.Name }}"/>
                                    {% endif %}
                                    <div style="overflow: hidden;position: absolute;padding:0 8px;left: 0;bottom: 0;width: 100%;height: 0px;background-color: #000;opacity: .9;filter: alpha(opacity=90);"  class="up">
                                        <div class="project-info">
                                            <p class="project-title">{% if item.Name|length > 10 %}{{ item.Name|slice(0,10) }}...{% else %}{{ item.Name }}{% endif %}<small style="color: #d2d2d2">{{ item.YunchouNo }}</small></p>
                                            <div class="progress-extra new">
                                                <span class="span1">已锁定投资金额：{{ item.LockedRate }}</span>
                                                <div class="j-progress">
                                                    <div class="j-progress-bar" role="progressbar" aria-valuenow="{{ item.BookedRate }}" aria-valuemin="0" aria-valuemax="100" style="width: {% if item.BookedRate>100 %}100%{% else %} {{ item.BookedRate }}{% endif %};">
                                              <span class="auto-progress"><img src="/media/image/user/frontpage/sanjiao.png"/>
                                          </span>
                                                        {% if item.BookedRate<100 %}
                                                            <span class="auto-math auto-right2">{{ item.BookedRate }}</span>
                                                        {% else %}
                                                            <span class="auto-math auto-right1">{{ item.BookedRate }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="j-progress-2">
                                                    <div class="j-progress-bar-2" role="progressbar" aria-valuenow="{{ item.LockedRate }}" aria-valuemin="0" aria-valuemax="100" style="width: {% if item.LockedRate>100 %}100%{% else %} {{ item.LockedRate }}{% endif %};"></div>
                                                </div>
                                                <span class="span2" style="left: {% if item.BookedRate>80 %}75%{% else %}{{ item.BookedRate }}{% endif %}">意向投资额</span>
                                            </div>
                                            <div class="project-progress ing-project">
                                                融资目标：{{ item.FinancingAmount|round }}万&nbsp;
                                                出让股份：{{ item.SellShares }}&nbsp;
                                                剩余时间：{{ item.LastDays }}
                                            </div>
                                            <div style="border-top: 1px solid gray;margin: 30px 0"></div>
                                            <p class="project-investor">
                                                创始人&nbsp;
										<span data-toggle="tooltip" title="{{ item.Founder.Name }}" target="_blank" data-placement="bottom" href="{{ path('EntrepreneurProfile',{'userId':item.Founder.Id}) }}">
											{% if item.Founder.Image %}
                                                {#todo:文件系统#}
                                                {#<img src="{{ item.Founder.Image|imagine_filter('fix_41_41') }}" class="img-circle" alt="{{ item.Founder.Name }}" />#}
                                                <img src="{{ item.Founder.Image }}?width=41&height=41" class="img-circle" alt="{{ item.Founder.Name }}" />
											{% else %}
                                                <img src="/media/image/user/140x140_user_avatar.png" style="width: 40px;height: 40px" class="img-circle" />
                                            {% endif %}
										</span>&nbsp;&nbsp;
                                                {% if item.LeaderInvestors %}
                                                    <span class="pull-right">
											领投人&nbsp;
                                                        {% for li in item.LeaderInvestors %}
                                                            <span data-toggle="tooltip" title="{{ li.Name }}" target="_blank" data-placement="bottom">
													{% if li.Image %}
                                                        {#todo:文件系统#}
                                                        {#<img src="{{ li.Image|imagine_filter('fix_41_41') }}" class="img-circle" alt="{{ li.Name }}" />#}
                                                        <img src="{{ li.Image }}?width=41&height=41" class="img-circle" alt="{{ li.Name }}" />
													{% else %}
                                                        <img src="/media/image/user/140x140_user_avatar.png" style="width: 40px;height: 40px" class="img-circle" />
                                                    {% endif %}
												</span>
                                                            &nbsp;
                                                        {% endfor %}
											</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {# 预热中的项目 #}
        <div class="container next" style="padding: 0;margin-bottom: 10px">
            <h2 class="j-title">预热中的项目
                <a href="{{ path('projectwithstatus',{'statusid':10}) }}" class="btn btn-sm j-btn-default pull-right" target="_blank">
                    查看更多
                </a>
            </h2>
            <div class="list clearfix">
                {% for items in index_data.ProjectsInBooking|batch('3') %}
                    {% for item in items %}
                        <div class="ing-row">
                            <a href="{{ path('ProjectDisplay',{'id':item.Id}) }}" target="_blank">
                                <div class="project-cover test">
                                    {% if item.Image %}
                                        {#todo:文件系统#}
                                        {#<img src="{{ item.Image|imagine_filter('fix_370_240') }}" alt="{{ item.Name }}"/>#}
                                        <img src="{{ item.Image }}?width=370&height=240" alt="{{ item.Name }}"/>
                                    {% else %}
                                        <img class="cover" data-src="holder.js/370x240/text:项目封面" alt="{{ item.Name }}"/>
                                    {% endif %}
                                    <div style="overflow: hidden;position: absolute;padding:0 15px;left: 0;bottom: 0;width: 100%;height: 0px;background-color: #000;opacity: .9;filter: alpha(opacity=90);"  class="up">
                                        <div class="project-info">
                                            <p class="project-title">{% if item.Name|length > 15 %}{{ item.Name|slice(0,15) }}...{% else %}{{ item.Name }}{% endif %}</p>
                                            <p class="j-project-summery">{% if item.Description|length > 20 %}{{ item.Description|slice(0,20) }}...{% else %}{{ item.Description }}{% endif %}</p>

                                            <div style="color: #ffffff;margin-top: 20px">
                                                <img src="/media/image/user/frontpage/funds.png">&nbsp;融资金额：{{ item.FinancingAmount|round }}万&nbsp;&nbsp;
                                                <img src="/media/image/user/frontpage/sellshares.png">&nbsp;出让{{ item.SellShares }}
                                            </div>
                                            <div style="border-top: 1px solid gray;margin: 30px 0"></div>
                                            <p class="project-investor">
                                                创始人&nbsp;
										<span data-toggle="tooltip" title="{{ item.Founder.Name }}" target="_blank" data-placement="bottom" href="{{ path('EntrepreneurProfile',{'userId':item.Founder.Id}) }}">
											{% if item.Founder.Image %}
                                                {#todo:文件系统#}
                                                {#<img src="{{ item.Founder.Image|imagine_filter('fix_41_41') }}" class="img-circle" alt="{{ item.Founder.Name }}" />#}
                                                <img src="{{ item.Founder.Image }}?width=41&height=41" class="img-circle" alt="{{ item.Founder.Name }}" />
											{% else %}
                                                <img src="/media/image/user/140x140_user_avatar.png" style="width: 40px;height: 40px" class="img-circle" />
                                            {% endif %}
										</span>&nbsp;&nbsp;
                                                {% if item.LeaderInvestors %}
                                                    <span class="pull-right">
											领投人&nbsp;
                                                        {% for li in item.LeaderInvestors %}
                                                            <span data-toggle="tooltip" title="{{ li.Name }}" target="_blank" data-placement="bottom">
													{% if li.Image %}
                                                        {#todo:文件系统#}
                                                        {#<img src="{{ li.Image|imagine_filter('fix_41_41') }}" class="img-circle" alt="{{ li.Name }}" />#}
                                                        <img src="{{ li.Image }}?width=41&height=41" class="img-circle" alt="{{ li.Name }}" />
													{% else %}
                                                        <img src="/media/image/user/140x140_user_avatar.png" style="width: 40px;height: 40px" class="img-circle" />
                                                    {% endif %}
												</span>
                                                            &nbsp;
                                                        {% endfor %}
											</span>
                                                {% else %}
                                                    <span class="none pull-right">领投人&nbsp;&nbsp;虚位以待</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {# 明星领投人 #}
        <div class="container invest-star" style="padding: 0;margin-bottom: 10px">
            <h2 class="j-title">明星领投人
                <a href="{{ path('Cooperation') }}" class="btn btn-sm btn-danger pull-right" target="_blank">
                    申请合作
                </a>
            </h2>
            <div class="list clearfix">
                <ul class="star-list">
                    {% for item in index_data.StarInvestors %}
                        <li><img src="{{ item.Image }}" alt="天使投资人"/></li>
                    {% endfor %}
                </ul>
            </div>
            <a id="left"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
            <a id="right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </div>
        {# 媒体资讯 #}
        <div class="container" style="padding: 0;margin-bottom: 10px">
            <h2 class="j-title">媒体资讯</h2>
            <div class="list clearfix">
                <div class="text-center video-frontpage" id="videoBox">
                    <img src="/media/image/app/index/videopic.png"/>
                </div>
                <div class="events">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active news"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">新闻动态</a></li>
                            {% if index_data.ViewPoints is defined and index_data.ViewPoints is not empty %}
                                <li role="presentation" class="viewport"><a href="#viewport" aria-controls="viewport" role="tab" data-toggle="tab">云筹观点</a></li>
                            {% endif %}
                            <li role="presentation" class="activity"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">活动沙龙</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="news">
                                <a class="btn btn-sm j-btn-default event-btn" href="{{ path('our_events') }}" target="_blank">查看更多</a>
                                <ul>
                                    {% for item in index_data.Events %}
                                        <li class=""><a href="{{ item.Url }}" target="_blank">{{ item.Name }}</a><span class="pull-right color94">{{ item.Date|date('Y-m-d') }}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if index_data.ViewPoints is defined and index_data.ViewPoints is not empty %}
                                <div role="tabpanel" class="tab-pane" id="viewport">
                                    <a class="btn btn-sm j-btn-default event-btn" href="{{ path('viewpoints') }}" target="_blank">查看更多</a>
                                    <ul>
                                        {% for item in index_data.ViewPoints %}
                                            <li class=""><a href="{{ item.Url }}" target="_blank">{{ item.Name }}</a><span class="pull-right color94">{{ item.Date|date('Y-m-d') }}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div role="tabpanel" class="tab-pane" id="activity">
                                <a class="btn btn-sm j-btn-default event-btn" href="{{ path('activity_list') }}" target="_blank">查看更多</a>
                                <ul>
                                    {% for item in index_data.Activities %}
                                        <li class=""><a href="{{ path('view_activity',{'id':item.Id}) }}" target="_blank">{{ item.Name }}</a><span class="pull-right color94">{{ item.Date|date('Y-m-d') }}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# 成功案例 #}
        <div class="container finished" style="padding: 0;margin-bottom: 10px">
            <h2 class="j-title">成功案例
                <a href="{{ path('projectwithstatus',{'statusid':30}) }}" class="btn btn-sm j-btn-default pull-right" target="_blank">
                    查看更多
                </a>
            </h2>
            <div class="list clearfix">
                {% for items in index_data.ProjectsInSuccess|batch('4') %}
                    {% for item in items %}
                        <div class="success-row">
                            <a href="{{ path('ProjectDisplay',{'id':item.Id}) }}" target="_blank">
                                <div class="project-cover success-bg">
                                    {% if item.Image %}
                                        {#todo:文件系统#}
                                        {#<img src="{{ item.Image|imagine_filter('fix_270_175') }}" alt="{{ item.Name }}"/>#}
                                        <img src="{{ item.Image }}?width=270&height=175" alt="{{ item.Name }}"/>
                                    {% else %}
                                        <img class="cover" data-src="holder.js/270x175/text:项目封面" alt="{{ item.Name }}"/>
                                    {% endif %}
                                    <div style="overflow: hidden;position: absolute;padding:0 15px;left: 0;bottom: 0;width: 100%;height: 0px;background-color: #000;opacity: .9;filter: alpha(opacity=90);"  class="levelup">
                                        <div class="project-info">
                                            <p class="project-title">{% if item.Name|length > 6 %}{{ item.Name|slice(0,5) }}...{% else %}{{ item.Name }}{% endif %}<small style="color: #d2d2d2">{{ item.YunchouNo }}</small></p>
                                            <div class="progress-extra frontpage-progress">
                                                <div class="j-progress">
                                                    <div class="j-progress-bar" role="progressbar" aria-valuenow="{{ item.BookedRate }}" aria-valuemin="0" aria-valuemax="100" style="width: {% if item.BookedRate>100 %}100%{% else %} {{ item.BookedRate }}{% endif %};">
                                              <span class="auto-progress"><img src="/media/image/user/frontpage/u636.png" alt="股权众筹"/>
                                          </span>
                                                        {% if item.BookedRate<100 %}
                                                            <span class="auto-math fff auto-right2">{{ item.BookedRate }}</span>
                                                        {% else %}
                                                            <span class="auto-math fff auto-right1">{{ item.BookedRate }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="project-progress">
                                                <div class="col-sm-4 p-0" style="border-right: 1px solid #d2d2d2;">
                                                    <div class="size-14 text-left">{{ item.FinancingAmount|round }}万</div>
                                                    <div class="size-10 text-left">计划筹资</div>
                                                </div>
                                                <div class="col-sm-4 p-0" style="border-right: 1px solid #d2d2d2;">
                                                    <div class="size-14 text-center">{{ item.BookedAmount|round }}万</div>
                                                    <div class="size-10 text-center">已筹金额</div>
                                                </div>
                                                <div class="col-sm-4 p-0">
                                                    <div class="size-14 text-right">{{ item.EndDate|date('Y-m') }}</div>
                                                    <div class="size-10 text-right">完成时间</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {# 四大理由 #}
        <div class="container" style="padding: 0;margin-bottom: 10px">
            <h2 class="j-title">在云筹投资的四大理由</h2>
            <div class="row">
                <div class="col-sm-6 reason-block">
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="text1"></span>
                        </div>
                        <div class="col-sm-9">
                            <h3 class="reason-title">优质的投资项目</h3>
                            <p>项目来源于各大机构的推荐和云筹平台的海选，经过多层专业的审核，保障项目的质量。</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 reason-block">
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="text2"></span>
                        </div>
                        <div class="col-sm-9">
                            <h3 class="reason-title">专业的投资人领投</h3>
                            <p>每个项目都由专业的投资人领投，领投人出具专业的尽责报告，不懂也可以放心投。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 reason-block">
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="text3"></span>
                        </div>
                        <div class="col-sm-9">
                            <h3 class="reason-title">完善的筹后管理</h3>
                            <p>定期巡检，及时发现项目问题，整合各方的资源解决问题保障项目健康成长。</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 reason-block">
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="text4"></span>
                        </div>
                        <div class="col-sm-9">
                            <h3 class="reason-title">合理的退出机制</h3>
                            <p>云筹积极为投资人寻找多种退出途径，包括但不限于：并购退出、股权转让、二级市场退出等。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#{% if IndustryCheckExplain == true %}#}
        {#{% else %}#}
            {#<div class="visible-desktop hide" id="bottom_guide">#}
                {#{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                    {#<div class="class container-fluid">#}
                        {#<img id="hide_bottom_guide" src="/media/image/app/index/alert.png"/>#}
                        {#<span aria-hidden="true" id="hide_bottom_guide">&times;</span>#}
                    {#</div>#}
                {#{% endif %}#}
            {#</div>#}
        {#{% endif %}#}
        <div class="container-fluid mb-20">
            <div class="row">
            	<span class="total">
		<a class="kefu background" target="_blank" rel="external nofollow" href="http://webim.qiao.baidu.com/im/index?siteid=7276684&ucid=10931216&lastsubid=0&from=%E5%B9%BF%E4%B8%9C%E6%B7%B1%E5%9C%B3&bid=17115ed5b65c968c632cee2d&chattype=1&groupid=&groupname=&subid=&subname=&ref=http%3A%2F%2Fdev.yunchou.com%2Fapp_dev.php%2F"></a>
		<img src="/media/image/user/frontpage/weixinewm.png" alt="云筹微信" data-container="body" data-toggle="popover" data-placement="left" data-html="true" data-trigger="hover" data-content='<img src="/media/image/yunchou/wx_code.png" alt="云筹微信"/>'/>
		<a class="backtop background" href="#top"></a>
	</span>
            <footer class="footers">
                <div class="gray-bak">
                    <br>
                    <div class="container" style="margin-top: 20px">
                        <div class="row">
                            <div class="col-xs-8" style="padding-right: 20px">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <ul class="inline-list white-link">
                                            <li><a href="{{ path('about_us') }}" target="_blank">关于我们</a></li>
                                            <li><a href="{{ path('help') }}" target="_blank">帮助中心</a></li>
                                            <li><a href="{{ path('our_partners') }}" target="_blank">合作伙伴</a></li>
                                            <li><a href="{{ path('our_events') }}" target="_blank">新闻动态</a></li>
                                            <li><a href="{{ path('terms_of_service') }}" target="_blank">服务条款</a></li>
                                            <li><a href="{{ path('join_us') }}" target="_blank">加入我们</a></li>
                                            <li><a href="{{ path('risk_disclosure') }}" target="_blank">风险揭示</a></li>
                                            <li><a href="{{ path('privacy_protection') }}" target="_blank">隐私保护</a></li>
                                            {#<li><a href="{{ path('college') }}" target="_blank">云筹学院</a></li>#}
                                        </ul>
                                    </div>
                                </div>
                                <div class="red-border"></div>
                                <div class="hr"></div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="inline-list">
                                            <li>
                                                <a title="工商网监" rel="external nofollow" href="http://szcert.ebs.org.cn/6aa16614-ee6c-430f-98e6-b84fa32cada8" target="_blank" ><img src="/media/image/yunchou/crowd-funding.png" alt="云筹brand" /></a>
                                            </li>
                                            <li>
                                                <a rel="external nofollow" id='___szfw_logo___' href='https://credit.szfw.org/CX20150720010370550125.html' target='_blank'><img src="/media/image/yunchou/Bitmap.png"/></a>
                                                <script type='text/javascript'>(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();</script>
                                            </li>
                                            <li>
                                                <a title="中国证券业协会" href="/media/image/yunchou/zhenjuan.jpg" target="_blank"><img src="/media/image/yunchou/footer4.png" alt="云筹brand" /></a>
                                            </li>
                                        </ul>
                                        <span class="color-b4">本站常年法律顾问:资深互联网金融法律专家--曹军律师</span>
                                    </div>
                                </div>
                                <div class="hr"></div>
                            </div>

                            <div class="col-xs-4" style="padding-left: 20px">
                                <div class="no-top-gutter"><a href="{{ path('contact_us') }}" style="color: #FFFFFF" target="_blank">联系我们</a></div>
                                <div class="red-border"></div>
                                <div class="hr"></div>
                                <div class="row basetwigImg">
                                    <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <img src="/media/image/yunchou/mobileicon.png">400-180-6789
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <div class="row">
                                            <img src="/media/image/yunchou/emailicon.png"><a href="mailto:kf@yunchou.com">kf@yunchou.com</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="hr"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gray-dark-bak">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-8">
                                ©2014云筹 All rights reserved | 深圳前海云筹互联网金融服务有限公司 | <a rel="external nofollow" href="http://www.miitbeian.gov.cn" target="_blank" style="color: #FFFFFF">粤ICP备11093162号-4
                                </a></div>
                            <div class="col-xs-4 text-right">
                                <div >
                                    <span class="margin-right"><a rel="external nofollow" href="http://weibo.com/cloudfunding" target="_blank" title="新浪微博"><img src="/media/image/yunchou/weibo.png" alt="云筹微博" /></a></span>
                                    <img src="/media/image/yunchou/wechat.png" alt="云筹微信" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-trigger="hover" data-content='<img src="/media/image/yunchou/wx_code.png" alt="云筹微信"/>'/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <input type="hidden" value="{{ app.request.uri }}" id="baseUrl">
            </div>
        </div>
        {#友情链接#}
        <div class="container-fluid">
            <div class="container text-center">
                <ul class="index-ul">
                    <span style="font-size: 12px;color: #666666">友情链接：</span>
                    {% for item in index_data.FriendlyLinks %}
                        <li><a href="{{ item.Url }}" target="_blank">{{ item.Name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="modal fade" id="renrentou" tabindex="-1" role="dialog" aria-labelledby="renrentou-Modal" aria-hidden="true">
        <div class="modal-dialog" id="renren-modal">
            <div class="modal-content" style="color: #333">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="renrentou-Modal">欢迎访问与人人投战略合作的专业天使投资平台——云筹!</h4>
                </div>
                <div class="modal-body">
                    <p>云筹是国内首批专注天使投资的私募股权融资平台，是首家开展筹后管理的私募股权融资平台，是中国证券协会首批股权众筹会员单位，获“最佳股权众筹平台”、“年度众筹行业卓越 服务品牌”等荣誉。建立“专业领投、大众跟投”的私募股权融资模式，帮创业者融资，帮投资人增值。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">先看看</button>
                    <a href="{{ path('UserRegisterProcess') }}" class="btn btn-info">成为会员</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

